# === Build artifacts ===
/build/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

# == MOSEK ===
/lib/mosek/

# === IDE / Editor files ===
*.user
*.suo
*.userosscache
*.sln.docstates
*.vscode/
.idea/
*.swp
*.DS_Store

# === Logs and temporary files ===
*.log
*.tmp
*.bak

